label, input, button, select, textarea {
  display: block;
}

button {
  text-transform: uppercase;
}

label {
  cursor: text;
}

a {
  text-decoration: none;
  color: black;
  transition: .2s ease-in-out;
}

a:hover {
  color: royalblue;
}
